/* -- General settings -- */
:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%) ;

    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: #fff;

    --Main-Font-size: 0.9375em; /* 15px */
    --Main-font-family: 'Poppins', sans-serif;
}

body {
    font-size: var(--Main-Font-size);
    font-family: var(--Main-font-family);
    background: var(--Very-Light-Gray);
    line-height: 1.5;
}

main {
    margin: 3em 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -- Header section -- */
#header {
    text-align: center;
    max-width: 33.3333em;
}

.header-heading {
    font-weight: 200;
}

h1, h2 {
    color: var(--Very-Dark-Blue);
    font-weight: 600;
    margin: 0;
}

h1 {
    font-size: 1.5em;
}

p {
    color: var(--Grayish-Blue);
}

/* -- Cards wrapper + Card settings -- */
.card {
    max-width: 21.25em;
    background: var(--White);
    padding: 2em;
    border-radius: 0.5em;
}

.card p {
    margin: 0.3em 0 2em 0;
}

.cards-wrapper {
    display: grid;
    gap: 2em;
    margin: 4em 0;
}

.img-wrap {
    display: flex;
    justify-content: flex-end;
}

/* -- Supervisor Card -- */
#card-supervisor {
    border-top: 3px solid var(--Cyan);
}

/* -- Team Builder Card -- */
#card-team_builder {
    border-top: 3px solid var(--Red);
}

/* -- Karma Card -- */
#card-karma {
    border-top: 3px solid var(--Orange);
}

/* -- Calculator Card -- */
#card-calculator {
    border-top: 3px solid var(--Blue);
}

/* -- Cards shadow -- */
#card-supervisor, #card-team_builder, #card-karma, #card-calculator {
    box-shadow: 3px 3px 20px -3px var(--Grayish-Blue);
}

/* -- Footer signature -- */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* -- Media Queries -- */
@media screen and ( min-width: 700px ) {
    .cards-wrapper {
        grid-template-columns: 21.25em 21.25em;    
    }  
    
    h1, .header-heading {
        font-size: 2.5em;
    }
}

@media screen and ( min-width:1300px ) {
    .cards-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    }

    #card-supervisor {
        grid-row: 2 / 4;
    }

    #card-team_builder {
        grid-area: 1 / 2 / 3 / 3;
    }

    #card-karma {
        grid-area: 3 / 2 / 5 / 3; 
    }
    
    #card-calculator {
        grid-area: 2 / 3 / 4 / 4;
    }
}
