/* -- General settings -- */
:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%) ;

    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: #fff;

    --Main-Font-size: 0.9375em; /* 15px */
    --Main-font-family: 'Poppins', sans-serif;
}

body {
    font-size: var(--Main-Font-size);
    font-family: var(--Main-font-family);
    background: var(--Very-Light-Gray);
}

/* -- Footer signature -- */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }